.header{background: #99ca3c;}

.item-home .quadrado{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#669002+0,8cc126+100 */
background: #669002; /* Old browsers */
background: -moz-linear-gradient(top,  #669002 0%, #8cc126 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #669002 0%,#8cc126 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #669002 0%,#8cc126 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669002', endColorstr='#8cc126',GradientType=0 ); /* IE6-9 */
}
.header .logo img{width: 60px; height: auto;}
#enviarArquivo button{background-color: #99ca3c;}
.voltar{background: #669002; color: #fff;}
#noticia h1.titulo, #produto h1.titulo{color: #99ca3c;}
#rede-detalhamento .exibirTodos{color: #99ca3c !important;}

.swiper-pagination-bullet-active, 
.mais-info{background: #99ca3c;}

.titulo-modal{color: #99ca3c;}
.manual{color: #99ca3c;}
.contato .nome{color: #99ca3c;}
.contato a.rota{background: url(../img/rota.png) 15px center no-repeat #99ca3c;}
.contato a.ligar{background: url(../img/ligar-contato.png) 15px center no-repeat #99ca3c;}
#menu{background: #669002;}

.header .menu-button .bt-icon, 
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a, 
.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited{color: #669002;}